.header {
    font-size: 20px;
    color: rgb(9, 166, 166);
}

.table {
    width: 700px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: rgb(9, 166, 166);
    color: white;
    padding: 12px;
    text-align: center;
}

.table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2fafa;
}

.table tr:hover {
    background-color: #d9f3f3;
}